<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="CartMapper">
	
	<resultMap type="cart" id="cartresultMap">
		<result property="prodNo.prodNo" 			column="PROD_NO" 		jdbcType="INTEGER"/>
		<result property="buyerId.userId" 			column="BUYER_ID" 		jdbcType="VARCHAR"/>
		<result property="cartNo" 					column="CART_NO"  		jdbcType="INTEGER"/>
		<result property="tranCartCode"   	  		column="tc"  			jdbcType="VARCHAR"/>
		<result property="cartCode" 				column="cart_code" 		jdbcType="VARCHAR"/>
		<result property="cartValue" 				column="CART_VALNUM" 	jdbcType="INTEGER"/>
	</resultMap>
	
	
	
	<insert id="addCart" parameterType="cart">
		<selectKey keyProperty="cartNo" resultType="java.lang.Integer" order="BEFORE">
			select seq_cart_tran_no.NEXTVAL FROM DUAL
		</selectKey>
		INSERT 
		INTO carts(cart_no, prod_no, buyer_id,CART_VALNUM,cart_code)
		VALUES(	#{cartNo},
				#{prodNo.prodNo:INTEGER},
				#{buyerId.userId:VARCHAR},
				#{cartValue},
				#{cartCode})	
	</insert>
	
	<delete id="deleteCart" parameterType="int">
		DELETE
		carts
		WHERE prod_no = #{prodNo}
	</delete>
	
 <sql id="getCart">
		select c.* , p.prod_no AS tc
		from carts c ,product p
		<if test=" userId != null and userId != '' ">
			where p.prod_no = c.prod_no(+) 
			 	and c.buyer_id = #{userId}			       
			ORDER BY c.prod_no
		</if>
	</sql>
	
	<select id="getCartList" parameterType="map" resultMap="cartresultMap">
		SELECT * 
		FROM (	SELECT inner_table. * ,  ROWNUM AS row_seq
				FROM( <include refid="getCart"/>)inner_table 
							WHERE ROWNUM &lt;= #{search.endRowNum} )
		WHERE row_seq BETWEEN #{search.startRowNum} AND #{search.endRowNum} 
	</select>
	
	<select id="getTotalCount" parameterType="map" resultType="int">
		SELECT 
		COUNT(*) 
		FROM (<include refid="getCart"/>) count
	</select> 
	
	<update id="updateCartValue" parameterType="map">
	UPDATE carts
	<set>
		CART_VALNUM = #{cartValue:INTEGER}
	</set>
		WHERE PROD_NO = #{prodNo:INTEGER}
	</update>
	
</mapper> 